{% extends 'paginas/index.html' %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock %}

{% block content %}

<div class="form-container">
                
    <div class="form-box"> 
        <h3 class="titulo-form">Cadastro de usuário</h3> <br> 
    
        <form id="form-cadastro" method="POST">
    
            {% csrf_token %}

            <div class="input-field">
                <label for="{{ form.nome_completo.id_for_label }}">Nome Completo</label>
                {{ form.nome_completo }}
                <!-- {% for error in form.username.errors %}
                    <p class="error input-errors">Este nome de usuário já está em uso.</p>
                {% endfor %} -->
            </div>

            <div class="input-field">
                <label for="{{ form.email.is_for_label }}">Email</label>
                {{ form.email }}
                {% for error in form.email.errors %}
                    <p class="error input-errors">{{ error }}</p>
                {% endfor %}
            </div>

            <div class="input-field">
                <label for="{{ form.password1.id_for_label }}">Senha</label>
                {{ form.password1 }}
            </div>

            <div class="input-field pasword-box">
                <label for="{{ form.password2.id_for_label }}">Confirmar Senha</label>
                {{ form.password2 }}
                {% if form.password1.errors %}
                    {% for error in form.password1.errors %}
                        <p class="error"> {{ error }}</p>
                    {% endfor %}
                {% elif form.password2.errors %}
                    {% for error in form.password2.errors %}
                        <p class="error"> {{ error }}</p>
                    {% endfor %}
                {% endif %} 
            </div>

            <button type="submit" class="btn btn-confirmar">Confirmar</button>
        </form>
    </div> 
</div>
{% endblock %}