#main-container {
    padding-top: 10px;
}

.form-container {
    width: 600px;
    margin-inline: auto;
    padding: 30px;
    padding-block: 40px;
    background-color: #272727;
    border-radius: 5px;
}

#form-perfil {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}

#foto_nome-box {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
}

#field-nome, #label-nome {
    display: flex;
    align-items: center;
}

#field-nome {
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 30px;
}

#label-nome {
    width: 25px;
    height: 25px;
    border-radius: 3px;
    cursor: pointer;
}

#label-nome i {
    font-size: 14px;
}

#id_nome_completo {
    background-color: transparent;
    color: #d3cbcb;
    width: fit-content;
    font-size: 20px;
}

.file-field {
    display: none;
}

#label-foto {
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 100%;
}

#label-foto img {
    width: 100%;
}

#label-foto #icone-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background-color: #494848;
    border-radius: 100%;
    position: absolute;
    right: 2px;
    bottom: 2px;
}

.input-field {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input-group {
    display: flex;
    gap: 17px;
    width: 540px;
}

.input-group .input-field {
    width: 30%;
}

#input-cidade {
    width: 34%;
}

.input-field input, textarea {
    outline: none;
    padding-inline: 10px;
    padding-block: 5px;
    background-color: #494848;
    border: 0;
    border-radius: 5px;
    font-weight: 600;
}

#id_descricao {
    height: 80px;
    resize: none;
}

.btn-box {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
    margin-top: 20px;
    /* background-color: #2b2b2b;
    padding-inline: 20px;
    padding-block: 10px; */
}
