#main-container {
    padding-top: 10px;
}

.form-container {
    width: 600px;
    margin-inline: auto;
    padding: 30px;
    padding-top: 25px;
    background-color: var(--background-gray);
    border-radius: 5px;
}

#form-perfil {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}

#foto_nome-box {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
}

#field-nome {
    width: 100%;
    justify-content: space-between;
}

#field-nome, #label-nome {
    display: flex;
    align-items: center;
}

#field-nome {
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 30px;
}

#label-nome {
    width: 25px;
    height: 25px;
    border-radius: 3px;
    cursor: pointer;
}

#label-nome i {
    font-size: 14px;
}

#id_nome_completo {
    background-color: transparent;
    color: var(--default-color);
    width: fit-content;
    font-size: 20px;
} 

.file-field {
    display: none;
}

#label-foto {
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    cursor: pointer;
}

#label-foto img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

#label-foto #icone-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background-color: #494848;
    border-radius: 100%;
    position: absolute;
    right: 4px;
    bottom: 2px;
}

.input-field {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* #field-atribuicao {
    
} */

#lbl-atribuicao {
    font-size: 16px;
}

#checkox-container {
    display: flex;
    gap: 10px;
    background-color: #494848;
    border-radius: 5px;
    justify-content: space-between;
    padding-inline: 35px;
    font-weight: 600;
    margin-bottom: 3px;
}

#checkox-container div {
    padding: 5px;
    border-radius: 5px;
}

#field-atribuicao span {
    font-size: 15px;
}

.checkbox input {
    display: none;
}

.checkbox .label-select {
    display: flex;
    align-items: center;
    gap: 10px;
}

.checkbox .label-select i {
    font-size: 9px;
    color: transparent;
    z-index: 0;
    margin-left: 3px;
}

.checkbox input + .label-select:before {
    content: '';
    width: 14px;
    height: 14px;
    border: 1px solid #ccc;
    position: absolute;
    border-radius: 2px;
    vertical-align: middle;
    background-color: #313131;
}

/* .checkbox 
input:checked + .label-select:before {
    background-color: #313131;
} */

.checkbox 
input:checked + .label-select i {
    color: #fff;
}

/* #field-sexo {
    display: flex;
} */

#id_sexo {
    display: flex;
    height: 35px;
}

.input-group {
    display: flex;
    gap: 17px;
    width: 540px;
}

.input-group .input-field {
    width: 30%;
}

#input-cidade {
    width: 34%;
}

.input-field input, textarea, select {
    outline: none;
    padding-inline: 10px;
    padding-block: 5px;
    background-color: #494848;
    border: 0;
    border-radius: 5px;
    font-weight: 600;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #494848 inset !important;
    border: none;
    border-radius: 5px;
    outline: 0;
/* -webkit-text-fill-color: yellow !important; */
}

#id_nome_completo:-webkit-autofill,
#id_nome_completo:-webkit-autofill:hover,
#id_nome_completo:-webkit-autofill:focus,
#id_nome_completo:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 32px var(--background-gray) inset !important;
    border: none !important;
    border-color: transparent;
    border-radius: 0;
}

#id_descricao {
    height: 80px;
    resize: none;
}

.btn-box {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
    margin-top: 10px;
    padding-top: 25px;
    border-top: 1px solid #383838;
    /* background-color: #2b2b2b;
    padding-inline: 20px;
    padding-block: 10px; */
}

.btn-default:hover {
    background-color: #464646;
    border-color: #464646;
}

/* @media (min-width: 0) {

    #id_nome_completo:-webkit-autofill,
    #id_nome_completo:-webkit-autofill:hover,
    #id_nome_completo:-webkit-autofill:focus,
    #id_nome_completo:-webkit-autofill:active{
        -webkit-box-shadow: 0 0 0 30px var(--background-gray) inset !important;
        border: none;
        border-radius: 0;
    }

} */
 