.form-box {
    display: flex;
    flex-direction: column;
    width: 350px;
    padding: 40px;
    border: 2px solid #68187c;
    border-image: linear-gradient(to right, #ff00ff, #43439c) 2;
    border-radius: 3px;
}

#form-login, #form-cadastro {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.titulo-form {
    color: #d3cbcb;
    background-image: linear-gradient(to right, #ff00ff, #5d5dc5, #00ffff, #5d5dc5, #00ffff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
    align-self: center;
    margin-top: -5px;
}

.input-field {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

label {
    color: #d3cbcb;
}

input {
    outline: 0;
    padding-block: 3px;
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #68187c;
    border-image: linear-gradient(to right, #ff00ff, #43439c) 2;
    color: #fff;
}

input:focus, textarea:focus {
    box-shadow: none;
    outline: 0;
    border-color: #7c1866;
    border-image: linear-gradient(to right, #ff00ff, 
    #43439c, #00ffff) 2;
}

.btn {
    min-width: 100px;
    margin-top: 15px;
    border: 2px solid #68187c;
    font-size: 18px;
    font-weight: bold;
    border-image: linear-gradient(to right, #ff00ff, #43439c) 2;
    border-radius: 2px;
    transition: all ease-in-out 0.2s;
    color: #e2e1e1;
}

.btn:hover {
    border: 2px solid #7c1866;
    color: #e2e1e1;
    border-image: linear-gradient(to right, #ff00ff, 
    #43439c, #00ffff) 2;
}

.btn-login, .btn-confirmar {
    background-image: linear-gradient(to right, #ff00ff, #5d5dc5);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
    font-weight: bold;
    margin-top: 25px;
}

.btn-login:hover, .btn-confirmar:hover {
    border-image: linear-gradient(to right, #ff00ff, #ff00ff,#43439c, #43439c, #43439c, #00ffff) 2;
    background-image: linear-gradient(to right, #ff00ff, #5d5dc5, #00ffff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.btn-cadastrar {
    background-color: #531263;
    font-weight: 500;
    color: #d3a6df;
}

.btn-cadastrar:hover {
    background-color: #531263;
    color: #73aeb6;
}

#box-btn {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#redefinir-senha {
    text-align: center;
    text-decoration: none;
    color: #d3cbcb;
}

#redefinir-senha:hover {
    text-decoration: underline;
}

#pasword-box {
    position: relative;
}

.error {
    font-size: 14px;
    position: absolute;
    bottom: -40px;
    color: #c23275;
} 