#main-container {
    width: 830px;
    padding-top: 3px;
}


/* Container onde está a foto de cover, foto do perfil e nome e função que o usuário exerce. */

#container-cover-informs {
    width: 100%;
    height: fit-content;
    background-color: var(--background-gray);
    border-radius: 8px;
    position: relative;
}

#cover-container {
    display: flex;
    position: relative;
    background-color: transparent;
}

#cover-container, .photo-cover {
    width: 100%;
    height: 310px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.photo-cover {
    object-fit: cover;
} 

#cover-container label {
    cursor: pointer;
}

#photo-cover-edit {
    position: absolute;
    right: 20px;
    bottom: 20px;
}

#photo-profile-box {
    position: absolute;
    width: 170px;
    height: 170px;
    left: 18px;
    bottom: 18px;
}

.photo-profile {
    width: 100%;
    height: 170px;
    background-color: #2b2a2a;
    border-radius: 100%;
}


/* Ícone para adicionar nova foto de perfil */

#photo-profile-icon-edit {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 40px;
    height: 40px;
    border: 2px solid #222222;
    left: 143px;
    bottom: 30px;
    background-color: #494848;
    border-radius: 40px; 
    cursor: pointer;
}

#photo-profile-icon-edit:hover {
    background-color: #525252;
    color: #c2c2c2;
}

.inputs-file {
    display: none;
}

#profile-informs {
    width: 100%;
    display: flex;
    justify-content: space-between;
    min-height: 100px;
    padding-left: 192px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 22px;
}

#profile-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 3px;
    margin-right: 5px;
}

#profile-name #name {
    margin-bottom: -2px;
    
}

#role {
    color: #a5a5a5;
} 

#photo-cover-edit, #profile-edit {
    gap: 10px;
    font-size: 16px;
}

#profile-edit {
    margin-top: 10px;
}

#photo-cover-edit {
    background-color: rgba(51, 51, 51, 0.3);
    border-color: rgba(97, 96, 96, 0.4);
    
} 

#photo-cover-edit:hover {
    background-color: rgba(41, 41, 41, 0.4);
    border-color: rgb(110, 110, 110, 0.5);
}


/* div que contém os botões de salvar e descartar alterações */

.button-box-save-cancel {
    display: none; 
    position: absolute;
    background-color: #4d4d4d;
    padding: 20px;
    padding-top: 10px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    right: 0;
    top: 310px;
}

.button-box-save-cancel p {
    margin-bottom: 10px;
    /* border-bottom: 1px solid #525151; */
}

.button-box-save-cancel .btn-box {
    display: flex;
    gap: 10px;
}

/* #box-save-cancel-cover {
    display: block;
} */

#box-save-cancel-profile {
    z-index: 1;
    border-top-left-radius: 4px;
}

.btn-form {
    min-width: fit-content;
    height: 36px;
    border-color: #2c2c2c;
    font-size: 16px;
}

.btn-form:hover {
    background-color: #494848;
}

.btns-box {
    display: flex;
    align-items: flex-start;
    gap: 7px;
    margin-top: 10px;
}


/* Conteúdo da página de perfil */

#main-profile {
    display: flex;
    gap: 17px;
}

#title-informs-box {
    display: flex;
    justify-content: space-between;
}

#title-informs-box .btn-default {
    padding: 0;
    width: 24px;
    height: 24px;
    border-radius: 3px;
    background-color: transparent;
    border: none;
}

#title-informs-box .btn-default:hover {
    background-color: var(--gray-btn);
}

#title-informs-box i {
    font-size: 13px;
}

.title-informs {
    font-size: 22px;
    padding-bottom: 10px;
    border-bottom: 1px solid #2c2c2c;
}

#main-profile #container-lateral {
    width: 240px;
    margin-block: 17px;
}

#container-informs-profile {
    width: 100%;
    min-height: 100px;
    background-color: var(--background-gray);
    border-radius: 5px;
    margin-bottom: 17px;
    padding: 15px;
}

#container-informs-data {
    padding-block: 5px;
}

.informs-data {
    display: flex;
    align-items: baseline;
    gap: 7px;
    color: #bbb9b9;
    font-size: 15px;
    font-weight: 500;
    padding-inline: 7px;
}

.informs-data i {
    font-size: 20px;
}

#informs-description {
    margin-top: 10px;
    background-color: #212121;
    padding: 5px 10px 7px;
    border-radius: 3px;
    line-height: 22px;
}

#container-conexions {
    width: 100%;
    min-height: 100px;
    background-color: var(--background-gray);
    border-radius: 5px;
}


