#main-container {
    width: 800px;
    padding-top: 5px;
}

#perfil-informs-box {
    width: 100%;
    height: 410px;
    background-color: #272727;
    border-radius: 8px;
}

#capa {
    display: flex;
    position: relative;
    background-color: #494848;
}

#capa, #foto-capa {
    width: 100%;
    height: 300px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

#capa label {
    cursor: pointer;
}

#foto-capa-editar {
    position: absolute;
    right: 20px;
    bottom: 20px;
    /* top: 20px; */
}

#foto-perfil-box {
    position: absolute;
    width: 170px;
    height: 170px;
    left: 30px;
    bottom: -85px;
}

.foto-de-perfil {
    width: 100%;
    cursor: pointer;
    background-color: #2b2a2a;
    border-radius: 100%;
}

#foto-perfil-icone {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 40px;
    height: 40px;
    border: 2px solid #222222;
    left: 150px;
    bottom: -75px;
    background-color: #494848;
    border-radius: 40px;
}

.inputs-file {
    display: none;
}

#perfil-informs {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 20px;
    padding-top: 25px;
}

#perfil-nome {
    padding-left: 10px;
}

#foto-capa-editar, #editar-perfil {
    gap: 10px;
    font-size: 16px;
}

