{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ConectSong</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">

    {% block styles %}
        <link rel="stylesheet" href="{% static 'css/inicio-main.css' %}">
    {% endblock %}
</head>
<body>

{% block head %}
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container-fluid" id="header-container">
                <div id="logo">
                    <img src="{% static 'img/ConectSong.png' %}" alt=""> <h2 id="logo-text">Conect Song</h2>
                </div>
                <ul id="menu">
                    {% if request.user.is_authenticated %}
                    <li id="search-bar">
                        <form action="">
                           <i class="fa fa-search"></i> <input type="search" placeholder="Pesquisar...">
                        </form>
                    </li>
                    <li class="menu-options">
                        <i class="fa-solid fa-message"></i>
                    </li>
                    <li class="menu-options">
                        <i class="fa fa-bell"></i>
                    </li>
                    <li class="menu-options" id="fotoperfil-box">
                        <div id="abrir-menu-lateral">
                            <img class="perfil-foto" id="perfil-foto" src="{% static 'img/perfil-generico.png' %}" alt="">
                            <div id="icone-menu-lateral"><i class="fa-solid fa-bars"></i></div>
                        </div>
                        <ul id="menu-lateral">
                            <li id="perfil-box">
                                <a href="{% url 'perfil' %}">
                                    <img id="perfil-foto" src="{% static 'img/perfil-generico.png' %}" alt="">
                                    <span>{{request.user}}</span>
                                </a>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'inicio' %}">
                                    <i class="fa-solid fa-house"></i>
                                    Página Inicial
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa-solid fa-gear"></i>
                                    Configurações
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa-solid fa-question"></i>
                                    Ajuda
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'logout' %}">
                                    <i class="fa-solid fa-right-from-bracket"></i>
                                    Sair
                                </a>
                            </li>
                        </ul>
                    </li>
                    {% else %}
                        <li id="login-option"><a href="{% url 'login' %}">Login</a></li>
                    {% endif %}
                </ul>
                <!-- <div id="box-menu">
                    <img src="{% static 'img/perfil-generico.png' %}" alt="">
                    <span>{{ request.user }}</span>
                </div> -->
                
            </div>
        </nav>
    </header>
{% endblock %}

<main>
    {% block main %}
    <div class="container-fluid" id="main-container">
        {% block content %}
        <div id="posts-home">
            <form action="" class="post-form">
                <div class="input-field" id="add-publicacao-box">
                    <a href="#"><img class="perfil-foto" src="{% static 'img/perfil-generico.png' %}" alt=""></a>
                    <button class="add-publicacao">Clique para adicionar uma publicação</button>
                </div>
                <div id="tela-publicacao">
                    <div id="publicacao-header">
                        <div id="user-box">
                            <a href="#"><img class="perfil-foto" src="{% static 'img/perfil-generico.png' %}" alt=""></a>
                            <span>{{request.user}}</span>
                        </div>
                        <div id="privacidade-publicacao">
                            <div id="opcao_escolhida">
                                <div>
                                    <i id="publico-icone" class="fa-solid fa-earth-americas icones-select"></i>
                                    Para o Público
                                </div> 
                                <i class="fa-solid fa-caret-down"></i>
                            </div>
                            <ul class="privacidade_options">
                                <li data-value="opcao1" class="options">
                                    <i id="publico-icone" class="fa-solid fa-earth-americas icones-select"></i>
                                    Para o Público
                                </li>
                                <li data-value="opcao2" class="options">
                                    <i id="conexoes-icone" class="fa-solid fa-user-group icones-select"></i>
                                    Minhas Conexões
                                </li>
                                <li data-value="opcao3" class="options">
                                    <i id="privado-icone" class="fa-solid fa-lock icones-select"></i>
                                    Apenas para Mim
                                </li>
                            </ul>
                        </div>
                            <input type="hidden" name="opcao_selecionada" id="opcao-selecionada">                          
                    </div>
                    <input type="text" placeholder="Escreva aqui...">
                </div>
                <div class="input-field">
                    <label for="foto-publicacao">
                        <i class="fa-solid fa-image"></i>
                        <span>Foto</span>
                        <input type="file" accept="image/jpeg, image/jpg, image/png" class="file" id="foto-publicacao">
                    </label>
                    <label for="video-publicacao">
                        <i class="fa-solid fa-video"></i> <span>Vídeo</span>
                        <input type="file" accept="video/*" class="file" id="video-publicacao">
                    </label>
                        <!-- <i id="publico-icone" class="fa-solid fa-earth-americas icones-select"></i>
                        <i id="conexoes-icone" class="fa-solid fa-user-group icones-select"></i>
                        <i id="privado-icone" class="fa-solid fa-lock icones-select"></i>
                        <select name="" id="privacidade-publicacao">
                            <option value="Público" selected>Para o Público</option>
                            <option value="Conexoes">Minhas Conexões</option>
                            <option value="Privado">Apenas para Mim</option>
                        </select> -->
                    <label for="">
                        <i class="fa-solid fa-align-left"></i>
                        <span>Aa</span>
                    </label>
                </div>
                <div class="input-field">
                    <button type="submit" id="btn-publicar">Publicar</button>
                </div>
            </form>
        </div>
        {% endblock %}
    </div>
    {% endblock %}
</main>

{% block footer %}
<footer>
    <div class="col-12" id="copyright">
        <p>&copy; 2023 Copyright ConectSong</p>
    </div>
</footer>
{% endblock %}


<!-- Scripts -->
<script src="{% static 'js/jquery-3.7.0.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/fontawesome.js' %}"></script>
<script src="{% static 'js/scripts.js' %}"></script>
<script src="{% static 'js/jquery.mask.min.js' %}"></script>

{% block scripts %}
    <script src="{% static 'js/inicio.js' %}"></script>
{%endblock %}
</body>
</html>