{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ConnectSong</title>

    <link rel="stylesheet" href="{% static 'css/publicacoes.css' %}">
</head>
<body>
    <div id="publicacoes">
        {% for post in posts %}
            <div class="publicacao">
                <div class="post-header">
                    <div class="poster-user">
                        <a href="{% url 'ver-perfil' post.usuario.username %}">
                            {% if post.usuario.perfil.foto_perfil %}
                                <img class="perfil-foto" src="/media/{{post.usuario.perfil.foto_perfil}}" alt="">
                            {% else %}
                                <img class="perfil-foto" src="{% static 'img/perfil-generico.png' %}" alt="">
                            {% endif %}
                        </a> 
                        <div class="poster-user-box">
                            <a href="{% url 'ver-perfil' post.usuario.username %}" class="poster-name">{{post.usuario.perfil.nome_completo}}</a>
                            {% now "Y-m-d" as current_date %}
                            {% now "Y" as current_year %}

                            {% if post.data_publicacao|date:"Y-m-d" == current_date %}
                                <span class="post-date">Hoje às {{ post.data_publicacao|date:"H:i" }}</span>
                            {% else %}
                                {% if post.data_publicacao|date:"Y" == current_year %}
                                    <span class="post-date">{{ post.data_publicacao|date:"j" }} de {{ post.data_publicacao|date:"F" }}</span>
                                {% else %}
                                    <span class="post-date">{{ post.data_publicacao|date }}</span>
                                    {% endif %}
                            {% endif %}
                        </div>
                    </div>
                    {% if post.usuario == request.user %}
                        <div class="options-post">
                            <div class="btn-ellipsis" data-post-id="{{ post.id }}">
                                <div class="dot"></div>
                                <div class="dot"></div>
                                <div class="dot"></div>
                            </div>
                            <ul class="options-post-list" id="options_post_{{ post.id }}">
                                <li>
                                    <form method="post" action="{% url 'excluir-post' %}">
                                        {% csrf_token %}
                                            <input type="hidden" name="post_id" value="{{ post.id }}">
                                        <button type="submit" class="btn-post-options">
                                            <i class="fa-regular fa-trash-can"></i>
                                            Excluir Publicação
                                        </button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    {% endif %}
                </div>
                <div class="post-content">
                    {% if post.texto %}
                        <div class="text-post">
                            {{post.texto}}
                        </div>
                    {% endif %}
                    {% if post.imagem_set.exists or post.video_set.exists %}
                        {% for imagem in post.imagem_set.all %}
                            <div class="post-files" {% if post.texto %} style="padding-top: 5px;" {% endif %}>
                                <img src="/media/{{ imagem.imagem }}" alt="Imagem do post">
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="post-interaction">
                    <button class="btn-post-options">
                        <i class="fa-regular fa-thumbs-up"></i> <span>Curtir</span>
                    </button>
                    <button class="btn-post-options">
                        <i class="fa-solid fa-share"></i> <span>Compartilhar</span>
                    </button>
                </div>
            </div>
        {% endfor %}
    </div>
</body>
</html>