{% extends 'paginas/index.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/form-perfil.css' %}">
{% endblock %}

{% block content %}

<div class="form-container">
    <form action="" method="POST" enctype="multipart/form-data" id="form-perfil">
        {% csrf_token %}
        {{ form.errors }}
        <div id="foto_nome-box">
            <div class="input-field" id="input-foto">
                <label for="{{ form.foto_perfil.id_for_label }}" id="label-foto">
                    <!-- {% if foto %}
                        <img src="/media/{{foto.foto_perfil}}" alt="" id="imagem-perfil">
                    {% else %} 
                        <img src="{% static 'img/perfil-generico.png' %}" alt="" id="imagem-perfil">
                    {% endif %} -->
                    <img src="{% static 'img/perfil-generico.png' %}" alt="" id="imagem-perfil">
                    <div id="icone-box">
                        <i class="fa-solid fa-camera"></i>
                    </div>
                </label>
                <div class="file-field">
                    {{form.foto_perfil}}
                </div>
            </div>
            <div class="input-field" id="field-nome">
                {{form.nome_completo}}
                <label for="{{ form.nome_completo.id_for_label }}" id="label-nome" class="btn-default">
                    <i class="fa-solid fa-pencil"></i>
                </label>
            </div>
        </div>
        <div class="input-field">
            <label for="{{ form.descricao.id_for_label }}">Descrição</label>
            {{form.descricao}}
        </div>
        <div class="input-group">
            <div class="input-field">
                <label for="{{ form.data_nascimento.id_for_label }}">Nascimento</label>
                {{form.data_nascimento}}
            </div>
            <div class="input-field" id="input-cidade">
                <label for="{{ form.cidade.id_for_label }}">Cidade</label>
                {{form.cidade}}
            </div>
            <div class="input-field">
                <label for="{{ form.telefone.id_for_label }}">Telefone</label>
                {{form.telefone}}
            </div>
            <div class="btn-box">
                <button type="submit" class="btn btn-default">Salvar Alterações</button>
            </div>
        </div>
            <!-- {{ form|crispy }} -->
    </form>
</div>

{% endblock %}

{% block scripts %}

<script>
    $(document).ready(function() {
        $('#id_foto_perfil').on('change', function(e) {
            var input = e.target;
            if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function(e) {
                // Define a imagem de pré-visualização
                $('#imagem-perfil').attr('src', e.target.result);
            };

            // Carrega o arquivo de imagem
            reader.readAsDataURL(input.files[0]);
            }
        });

    });
</script>

<script>
    $(document).ready(function() {
        
        $('#label-nome').click(function() {
            $('#id_nome_completo').val('');
        });

        $('#id_data_nascimento').mask('00/00/0000');
        var telefoneMask = function (val) {
            return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000' : '(00) 0000-00009';
        }, 
        telOptions = {
            onKeyPress: function(val, e, field, options) {
                field.mask(telefoneMask.apply({}, arguments), options);
            }
        };
        $('#id_telefone').mask(telefoneMask, telOptions);
        
        // var foto = '{{foto.foto_perfil}}';
        // if (foto) {
        //     $('#imagem-perfil').attr("src","/media/" + foto);
        // } 
    });
</script>

{%endblock %}