{% extends 'paginas/index.html' %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
    <style>
    
    </style>
{% endblock %}

{% block content %}

<div class="form-container">
                
    <div class="form-box"> 
        {% block titulo-form %}
            <h2 class="titulo-form">Conect Song</h2> <br>
        {% endblock%}

        <form id="form-login" action="" method="POST">
            {% csrf_token %}

            <div class="input-field">
                <label for="{{ form.username.id_for_label }}">Email</label>
                {{ form.username }}
            </div>

            <div class="input-field pasword-box">
                <label for="{{ form.password.id_for_label }}">Senha</label>
                {{ form.password }}
                {% if form.non_field_errors %}
                    <p class="error">{{ form.non_field_errors.as_text }}</p>
                {% endif %}
            </div>
            <div id="box-btn">
                <button type="submit" class="btn btn-login">Login</button>
                <a id="redefinir-senha" href="#">Esqueceu sua Senha?</a>
                <hr>
            </div>
        </form>
        <a class="btn btn-cadastrar" href="{% url 'cadastrar-usuario' %}">Cadastrar</a>
    </div>
</div>

{% endblock %}